/*
1.Posicionamiento 
2.Modelo de caja(Ej: Medidas del box model, Margin, Padding, Etc.)
3.Tipografia
4.Visuales
5.Otros
*/

:root{
    --black-color: #191919; 
    --gray-color: #4a4a48;
    --white-color: #fafafa; 
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Quicksand', sans-serif;
    font-size: 62.5%;
    color: var(--white-color);
    background-color: var(--black-color);
    
}

@media screen and (max-width: 425px){        
.section {
    width: 95%;
    padding: 20px;
    margin: auto;
}

/*Section Sinopsis*/
.section__sinopsis{
    margin-bottom: 50px;
}

.section__title{
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 300;
}

.section__sinopsis--description{
    font-size: 1.3rem;
    font-weight: 100;
}

/*Section Trailer*/
.section__trailer{
    margin-bottom: 50px;
}
.section__trailer--video{
    width: 100%;
}
.section__trailer--wacth{
    display: block;
    width: fit-content;
    padding: 15px 0 5px 0;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--white-color);
    border-bottom: 1px solid var(--white-color);
}

.section__trailer--wacth:hover{
    color: var(--gray-color);
    border-bottom: 1px solid var(--gray-color);
}

/*Section Cast*/
.section__cast{
    margin-bottom: 10px;
}

.section__cast--galery{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.section__cast--card{
    height: 300px;
}

.cast__card--name{
    display: none;
    margin: 10px;
    font-size: 2rem;
    font-weight: 500;
}

.cast__card--description{
        display: none;
        margin: 10px;
        font-size: 1.2rem;
}

.section__cast--card:hover 
.cast__card--name {
    display: block;
}

.section__cast--card:hover 
.cast__card--description{
    display: block;
}

.cast__card--portrait{
    width: 150px;
    height: 187px;
    margin: 10px;
    filter: grayscale(1);
}

.cast__card--portrait:hover{
    transform: scale(1.2);
    transition-duration: .3s;
}

/*Section Review*/

.section__review{
    margin-bottom: 50px;
}

.section__review--front{
    display: none;
}

.review__card--title{
    display: block;
    margin: 10px 0;
    font-size: 2rem;
    font-weight: 500;
    color: var(--gray-color);
}

.review__card--description{
    font-size: 1.3rem;
    font-weight: 100;
}

.review__card--reference{
    display: block;
    width: fit-content;
    margin: 15px;
    font-size: 1.2rem;
    text-decoration: none;
    color: gray;
    border-bottom: 1px solid gray;

}

/*Section More*/
.section__more{
    margin: 30px 0;
}

.section__production{
    margin-bottom: 50px;
}

.production__album--info{
    font-size: 1.5rem;
    font-weight: 300;
}

.production__album--reference{
    font-size: 1.5rem;
    font-weight: 300;
    color: gray;
}

.production__album--img{
    width: 100%;
    margin-top: 10px;
}

.production__album--description{
    display: block;
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}

.production__album--comment{
    margin: 10px;
    font-size: 1.2rem;
    color: gray;
}

/*Section Billboard*/
.section-billboard{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.billboard__card--img{
    margin: 0 10px;
    width: 250px;
    height: 350px;
}

.billboard__card--title{
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 0 10px;
    font-size: 1.2rem;
    font-weight: 300;
}

.billboard__card--price{
    color: gray;
}

/*Footer*/
.footer__info{
    padding: 30px;
    background: #050505;
}

.info{
    display: flex;
    justify-content: space-around;
}

.info__links{
    display: flex;
    flex-direction: column;

}

.info__links--button{
    font-size: 1.3rem;
    color: var(--gray-color);
    text-decoration: none;
}

.info__directions--sentence{
    font-size: 1.3rem;
    color: gray;
}

.social__network{
    display: flex;
    width: fit-content;
    margin: auto;

}

.social__network--links{
    display: block;
    margin: 10px;
    font-size: 1.3rem;
    color: var(--gray-color);
    text-decoration: none;
}
}


/*
.front{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    height: 100vh;
    background: linear-gradient(to top, rgba(255,255,255,0), rgba(0,0,0,0.8)), url('../CSS/assets/portada4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/
