/*
1.Posicionamiento 
2.Modelo de caja(Ej: Medidas del box model, Margin, Padding, Etc.)
3.Tipografia
4.Visuales
5.Otros
*/

:root{
    --black-color: #191919; 
    --gray-color: #4a4a48;
    --white-color: #fafafa; 
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Quicksand', sans-serif;
    font-size: 62.5%;
    color: var(--white-color);
    background-color: var(--black-color);
    
}

@media screen and (max-width: 425px){        
.section {
    width: 95%;
    padding: 20px;
    margin: auto;
    border: 1px solid var(--white-color);
    border-radius: 20px;
}

/*Section Sinopsis*/
.section__sinopsis{
    margin-bottom: 50px;
}

.section__title{
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 300;
}

.section__sinopsis--description{
    font-size: 1.3rem;
    font-weight: 100;
}

/*Section Trailer*/
.section__trailer{
    margin-bottom: 50px;
}
.section__trailer--video{
    width: 100%;
}
.section__trailer--wacth{
    display: block;
    width: fit-content;
    padding: 15px 0 5px 0;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--white-color);
    border-bottom: 1px solid var(--white-color);
}

.section__trailer--wacth:hover{
    color: var(--gray-color);
    border-bottom: 1px solid var(--gray-color);
}

/*Section Cast*/
.section__cast{
    margin-bottom: 50px;
}

.section__cast--galery{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.section__cast--card{
    height: 300px;
}

.cast__card--name{
    display: none;
    margin: 10px;
    font-size: 2rem;
    font-weight: 500;
}

.cast__card--description{
        display: none;
        margin: 10px;
        font-size: 1.2rem;
}

.section__cast--card:hover 
.cast__card--name {
    display: block;
}

.section__cast--card:hover 
.cast__card--description{
    display: block;
}

.cast__card--portrait{
    width: 150px;
    height: 187px;
    margin: 10px;
    filter: grayscale(1);
}

.cast__card--portrait:hover{
    transform: scale(1.2);
    transition-duration: .3s;
}

/*Section Review*/

}


/*
.front{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    height: 100vh;
    background: linear-gradient(to top, rgba(255,255,255,0), rgba(0,0,0,0.8)), url('../CSS/assets/portada4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/
